replicaCount: 1

image:
  repository: 203375563/maven-hello-world
  pullPolicy: IfNotPresent
  tag: "1.0.2"

service:
  type: ClusterIP
  port: 8080

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

securityContext:
  runAsNonRoot: true
  runAsUser: 1000
  fsGroup: 1000

nodeSelector: {}

tolerations: []

affinity: {}
